DATABASE_URL
JWT_SECRET
JWT_REFRESH_SECRET
ADMIN_EMAILS
ENVIRONMENT
CHECKOUT_ENABLED
PAYMENT_SUCCESS_URL
PAYMENT_CANCEL_URL
CHECKOUT_ENABLED
PAYMENT_SUCCESS_URL
PAYMENT_CANCEL_URL
CLIENT_URL
CLIENT_URL
NEXTPAY_API_KEY
NEXTPAY_SECRET_KEY